@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font: "Raleway", sans-serif;

    --color-black: #000000;
    --color-black-gray: #616161;
    --color-gray:#757575;
    --color-light-gray: #9e9e9e;
    --color-soft-gray: #f1f1f1;
    --color-orange: #f44336;
    --color-white: #ffffff;
}

/* ! Remove default margin and padding */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Generally used items **/

body{
    font-family: var(--font);
}

ul, li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    align-items: center;

}

/** style rule for nav bar **/

nav .logo img{
    width: 60px;
}

nav{
    justify-content: space-between;
    background-color: var(--color-soft-gray);
    padding: 1rem;
    position: fixed;
    width: 100%;


}

ul li{
    margin-left: 1rem;
    padding: 1rem;
}

ul li a{
    color: #000000;
}

li:hover{
    background-color: red;
    cursor: pointer;
}

/** Style rule for hero section **/

.hero{
    background: url(./image/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.hero__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__texts h1{
    /* font-size: 5rem; */
    color: var(--color-soft-gray);
}